## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [4]:
print(data['sex'].value_counts())

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [5]:
print(data[data['sex'] == 'Male']['age'].mean())

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [6]:
us_share = (data['native-country'] == 'United-States').mean()
print(f'{us_share:.2%}')

89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [7]:
low_income = data[data['salary'] == '<=50K']['age']
print(f"Средний возраст (<=50K): {low_income.mean():.1f}")
print(f"Ст. отклонение (<=50K): {low_income.std():.1f}")


high_income = data[data['salary'] == '>50K']['age']
print(f"Средний возраст (>50K): {high_income.mean():.1f}")
print(f"Ст. отклонение (>50K): {high_income.std():.1f}")

Средний возраст (<=50K): 36.8
Ст. отклонение (<=50K): 14.0
Средний возраст (>50K): 44.2
Ст. отклонение (>50K): 10.5

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
result = data[data['salary'] == '>50K']['education'].isin([
    'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()

print(result)

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [9]:
print(data.groupby(['race','sex'])['age'].describe())
max_age = data[
(data['race'] == 'Asian-Pac-Islander') &
    (data['sex'] == 'Male')]['age'].max()

print(f"Максимальный возраст мужчин Asian-Pac-Islander: {max_age}")

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Максимальный возраст мужчин Asian-Pac-Islander: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [10]:
married_men = data[
    (data['sex'] == 'Male') &
    (data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))
]

single_men = data[
    (data['sex'] == 'Male') &
    (~data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))
]

married_rich = (married_men['salary'] == '>50K').mean()
single_rich = (single_men['salary'] == '>50K').mean()

print(f"Женатые мужчины (>50K): {married_rich:.2%}")
print(f"Холостые мужчины (>50K): {single_rich:.2%}")
print("Больше зарабатывают женатые мужчины:", married_rich > single_rich)

Женатые мужчины (>50K): 44.05%
Холостые мужчины (>50K): 8.45%
Больше зарабатывают женатые мужчины: True

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [11]:
max_hours = data['hours-per-week'].max()
print(max_hours)

workers = data[data['hours-per-week'] == max_hours]
rich_share = (workers['salary'] == '>50K').mean()
print(f"Процент зарабатывающих >50K среди них: {rich_share:.2%}")

print(f'Количество человек с максимальным количеством часов работы: {workers.shape[0]}')

99
Процент зарабатывающих >50K среди них: 29.41%
Количество человек с максимальным количеством часов работы: 85

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [12]:
country_working_time = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print(country_working_time)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [13]:
data['AgeGroup'] = data['age'].apply(
    lambda x: 'young' if 16 <= x <= 35 else (
        'adult' if 35 < x <= 70 else (
            'retiree' if 70 < x <= 100 else 'unknown')))

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [14]:
high_income_counts = data[data['salary'] == '>50K'].groupby('AgeGroup').size()
print(high_income_counts)
print(high_income_counts.idxmax())

AgeGroup
adult      6042
retiree      94
young      1705
dtype: int64
adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [4]:
data = pd.DataFrame({
    'occupation': ['Programmer', 'Programmer', 'Teacher', 'Teacher', 'Artist', 'Artist'],
    'age': [25, 35, 45, 50, 22, 23],
    'hours-per-week': [40, 40, 40, 40, 4, 10]
})

def check_conditions(group):
    age_condition = group['age'].mean() <= 40
    hours_condition = (group['hours-per-week'] > 5).all()
    return age_condition and hours_condition

group_checks = data.groupby('occupation')[['age', 'hours-per-week']].apply(check_conditions)

print("Результат проверки каждой группы:")
print(group_checks)

# Фильтруем список профессий
valid_occupations = group_checks[group_checks].index.tolist()
print(f"\nТипы занятости: {valid_occupations}")

Результат проверки каждой группы:
occupation
Artist        False
Programmer     True
Teacher       False
dtype: bool

Типы занятости: ['Programmer']